[Unit]
Description=Minecraft Server %SERVER_FOLDER%
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%WORK_DIR%/start.sh
ExecStop=%WORK_DIR%/stop.sh

[Install]
WantedBy=multi-user.target
