[Unit]
Description=Minecraft Server
After=network.target

[Service]
Nice=1
KillMode=none
SuccessExitStatus=0 1
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory=/opt/minecraft/server
ExecStart=./run.sh
ExecStop=./stop.sh
[Install]
WantedBy=multi-user.target